* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: steelblue;
  padding: 10px;
  width: 500px;
  height: 290px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}
h1 {
  color: steelblue;
}
main img {
  width: 100px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0px;
}
main {
  max-width: 840px;
}
aside {
  width: 20em;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
  padding: 1em;
  background-color: #eee;
  color: #333;
  text-align: center;
  box-shadow: 0 0 40px gray;
}
aside img {
  width: 200                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     px;
  height: 200px;

   
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
main img {
  /* you most likely will have other declarations here */
  float: right;
  box-sizing:border border-box ;
}
aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}